.header {
    background-color: black;
}

.logo {
    margin-left: 60px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {

    text-decoration: none;
    color: white;
    margin-left: 14px;
    font-size: 20px;
}